﻿
@{
    ViewBag.Title = "Mantenimiento";
}

<div class="all">

    @{ Html.RenderPartial("~/Views/Shared/MenuAdministrador.cshtml");}

    <div class="container">

        <div class="row">
            <div class="col-md ">
                <h3>Mantenimiento Cursos</h3>
                <br />
                <table class="table table-hover text-nowrap traduccionDataTables2">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">ID CURSO</th>
                            <th scope="col">DESCRIPCIÓN</th>
                            <th scope="col">NIVEL</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>

                                <a href="#" data-toggle="modal" data-target="#modalActualizar" id="idBtnActualizar"><i style="font-size:20px" class="fa fa-edit"></i></a>
                                <a href="#" id="idBtnEliminar"><i style="font-size:20px" class="fas fa-trash-alt fa-1x"></i></a>
                            </td>
                            <th scope="row">01</th>
                            <td>Column content</td>
                            <td>Column content</td>


                        </tr>
                        <tr>
                            <td>

                                <a href="#" data-toggle="modal" data-target="#modalActualizar" id="idBtnActualizar"><i style="font-size:20px" class="fa fa-edit"></i></a>
                                <a href="#" id="idBtnEliminar"><i style="font-size:20px" class="fas fa-trash-alt fa-1x"></i></a>
                            </td>
                            <th scope="row">02</th>
                            <td>Column content</td>
                            <td>Column content</td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <button type="button" id="idBtnNuevo" data-toggle="modal" data-target="#modalNuevo" class="btn btn-primary">Agregar Curso</button>

        </div>



        <div class="modal fade text-center" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-registro">
                            <h3>Actualizar</h3>
                            <div class="form-group">
                                <label for="txtId">ID</label>
                                <input type="text" class="form-control" id="txtId" placeholder="ID" disabled>
                            </div>
                            <div class="form-group">
                                <label for="txtDescripcion">Descripción</label>
                                <input type="text" class="form-control" id="txtDescripcion" placeholder="Descripción">

                            </div>

                            <div class="form-group">
                                <label>Nivel</label>
                                <select class="custom-select">
                                    <option selected="">Selecciona Nivel</option>
                                    <option value="Primaria">Primaria</option>
                                    <option value="Secundaria">Secundaria</option>
                                    <option value="Universitario">Universitario</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade text-center" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-registro">
                            <h3>Nuevo Curso</h3>
                            
                            <div class="form-group">
                                <label for="txtDescripcionN">Descripción</label>
                                <input type="text" class="form-control" id="txtDescripcionN" placeholder="Descripción">

                            </div>

                            <div class="form-group">
                                <label>Nivel</label>
                                <select class="custom-select">
                                    <option selected="">Selecciona Nivel</option>
                                    <option value="Primaria">Primaria</option>
                                    <option value="Secundaria">Secundaria</option>
                                    <option value="Universitario">Universitario</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

