﻿@{
    ViewBag.Title = "Apprendo Bienvenido";
}

    <nav class="navbar navbar-expand-lg navbar-light bg-light col-sm-wrap">

        <div class="contenedorLogo">
            <img class="logo" src="images/Apprendo.png" alt="">
        </div>

        <div class="menu">

            <a class="btnLogin" href="login.html">Empezar <i class="fas fa-pencil-ruler"></i></a>


        </div>
    </nav>

    <div class="container">

        <div class="row fila">
            <div class="col-md-5 text-justify text-center descripcion">
                <p>Lorem ipsum</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet at quibusdam voluptas, delectus tempora quae ipsa deserunt consectetur animi, officiis suscipit consequuntur magni explicabo vel numquam voluptate labore, laborum consequatur.</p>
            </div>
            <div class="col-md-7 flex-md-wrap text-center align-items-center">
                <img class="profeCasa" src="images/profecasa.png" alt="">
            </div>
        </div>

        <div class="row fila justify-content-between ">

            <div class="col-md flex-md-wrap">
                <div class="card  bg-light mb-3 text-center cajaPasos">

                    <div class="card-body cuerpoCaja">
                        <h4 class="card-title">Elige la materia  <i class="fas fa-square-root-alt"></i></h4>
                        <img class="imagenCard" src="images/libro.png" alt="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md flex-md-wrap">
                <div class="card  bg-light mb-3 text-center cajaPasos ">

                    <div class="card-body cuerpoCaja">
                        <h4 class="card-title">Elige la fecha <i class="fas fa-clock"></i></h4>
                        <img class="imagenCard" src="images/horario.png" alt="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md flex-md-wrap ">
                <div class="card  bg-light mb-3 text-center cajaPasos">

                    <div class="card-body cuerpoCaja">

                        <h4 class="card-title">Elige tu docente <i class="fas fa-chalkboard-teacher"></i></h4>
                        <img class="imagenCard" src="images/profe.png" alt="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

