﻿@import url('https://fonts.googleapis.com/css?family=Raleway');

a, p, h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif !important;
}

.menu {
    display: flex;
    justify-content: center;
    width: 60%;
    align-content: space-between;
}

    .menu a {
        padding: 15px 0px;
        width: 200px;
        text-align: center;
        font-size: 18px;
    }


.container {
    margin-top: 30px;
}

.logo {
    width: 200px;
    height: 65px;
}

.contenedorLogo {
    display: flex;
    justify-content: center;
    width: 40%;
}

.fila {
    margin-bottom: 60px;
}

.imagenCard {
    width: 100px;
    height: auto;
    margin: 25px 0px;
}

.profeCasa {
    width: 300px;
    height: auto;
}

.descripcion {
    padding: 45px 0 0 0;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.cajaPasos {
    box-shadow: 1px 1px 1px gray;
}

.cuerpoCaja {
    background-color: rgb(65,52,57);
    color: white;
}

.btnLogin {
    color: #ff6435;
    border-radius: 10px;
    text-decoration: none;
}

    .btnLogin:hover {
        color: #ffa332;
        ;
        text-decoration: none;
    }


.form-login {
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}







/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

.apprendo {
    width: 150px;
    margin-left: 25px;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}






@import url('https://fonts.googleapis.com/css?family=Raleway');

.all {
    display: flex;
}

.matematica, .lengua, .quimica, .historia, .geografia, .fisica {
    /*background: rgb(47, 152, 212);
    color: white;
    border-radius: 120px;*/
    padding: 20px 0px;
    font-size: 1.3em;
    cursor: pointer;
    color: gray;
    border-radius: 5%;
    border-bottom: 1px solid rgb(172, 172, 172);
}

    .matematica:hover {
        color: rgb(0, 0, 0);
    }

    .lengua:hover {
        color: rgb(148, 100, 72);
    }

    .historia:hover {
        color: rgb(238, 163, 0);
    }

    .geografia:hover {
        color: rgb(131, 192, 90);
    }

    .fisica:hover {
        color: rgb(182, 68, 68);
    }

    .quimica:hover {
        color: rgb(70, 165, 255);
    }

.botonGrado {
    background: rgb(237,109,61) !important;
    color: white !important;
}

    .botonGrado:focus {
        background: rgb(201, 93, 53) !important;
    }

.turno {
    font-size: 30px;
    margin-top: 2%;
    color: gray;
    border-bottom: 1px solid rgb(172, 172, 172);
}

    .turno label {
        padding: 5% 10%;
    }

    .turno input {
        display: none;
    }

        .turno input:checked + label {
            color: rgb(237,109,61);
        }

.profesor {
    padding: 10px 150px;
    margin: 10px 80px;
    /*background: rgb(237,109,61) ;*/
    color: gray;
    font-family: 'Raleway', sans-serif !important;
    border-radius: 5%;
    border-bottom: 1px solid rgb(172, 172, 172);
}

    .profesor p {
        font-family: 'Raleway', sans-serif !important;
    }

    .profesor a {
        text-decoration: underline;
        color: gray;
    }

        .profesor a:hover {
            text-decoration: none;
            color: gray;
        }

.fotoProfesor {
    width: 120px;
    height: auto;
    border-radius: 100px;
}

.profesor input {
    display: none;
}

    .profesor input:checked + label {
        color: rgb(237,109,61);
    }