﻿
@{
    ViewBag.Title = "Mantenimiento";
}


<div class="all">

    @{ Html.RenderPartial("~/Views/Shared/MenuAdministrador.cshtml");}

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3>Mantenimiento Cliente</h3>
                <br />
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap traduccionDataTables2 ">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">ID</th>
                                <th scope="col">NOMBRE</th>
                                <th scope="col">APE PAT</th>
                                <th scope="col">APE MAT</th>
                                <th scope="col">DISTRITO</th>
                                <th scope="col">TLF</th>
                                <th scope="col">DIRECCION</th>
                                <th scope="col">FECHA NAC</th>
                                <th scope="col">ID USUARIO</th>


                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>

                                    <a href="#" data-toggle="modal" data-target="#modalActualizar" id="idBtnActualizar"><i style="font-size:20px" class="fa fa-edit"></i></a>
                                    <a href="#" id="idBtnEliminar"><i style="font-size:20px" class="fas fa-trash-alt fa-1x"></i></a>
                                </td>
                                <th scope="row">01</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td>

                                    <a href="#" data-toggle="modal" data-target="#modalActualizar" id="idBtnActualizar"><i style="font-size:20px" class="fa fa-edit"></i></a>
                                    <a href="#" id="idBtnEliminar"><i style="font-size:20px" class="fas fa-trash-alt fa-1x"></i></a>
                                </td>
                                <th scope="row">02</th>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>

                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <button type="button" id="idBtnNuevo" data-toggle="modal" data-target="#modalNuevo" class="btn btn-primary">Agregar Cliente</button>

        </div>



        <div class="modal fade text-center" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-registro">
                            <h3>Actualizar</h3>
                            <div class="form-group">
                                <label for="txtId">ID</label>
                                <input type="text" class="form-control" id="txtId" placeholder="ID" disabled>
                            </div>
                            <div class="form-group">
                                <label for="txtNombre">Nombre</label>
                                <input type="text" class="form-control" id="txtNombre" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <label for="txtApellidoPat">Apellido Paterno</label>
                                <input type="text" class="form-control" id="txtApellidoPat" placeholder="Apellido Paterno">
                            </div>
                            <div class="form-group">
                                <label for="txtApellidoMat">Apellido Materno</label>
                                <input type="text" class="form-control" id="txtApellidoMat" placeholder="Apellido Materno">
                            </div>

                            <div class="form-group">
                                <label>Distrito</label>
                                <select class="custom-select">
                                    <option selected="">Selecciona Distrito</option>
                                    <option value="Primaria">SJL</option>
                                    <option value="Secundaria">SJM</option>
                                    <option value="Universitario">Los Olivos</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtTelefono">Teléfono</label>
                                <input type="text" class="form-control" id="txtTelefono" placeholder="Teléfono">
                            </div>
                            <div class="form-group">
                                <label for="txtDirección">Dirección</label>
                                <input type="text" class="form-control" id="txtDirección" placeholder="Dirección">
                            </div>
                            <div class="form-group">
                                <label for="txtFechaNac">Fecha de Nacimiento</label>
                                <input type="text" class="form-control" id="txtFechaNac" placeholder="Fecha de Nacimiento">
                            </div>
                            <div class="form-group">
                                <label for="txtFechaNac">Fecha de Nacimiento</label>
                                <input type="text" class="form-control" id="txtFechaNac" placeholder="Fecha de Nacimiento">
                            </div>
                            <div class="form-group">
                                <label for="txtIdUsuario">ID de Usuario</label>
                                <input type="text" class="form-control" id="txtIdUsuario" placeholder="ID de Usuario">
                            </div>

                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade text-center" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-registro">
                            <h3>Nuevo Cliente</h3>

                            <div class="form-group">
                                <label for="txtNombreN">Nombre</label>
                                <input type="text" class="form-control" id="txtNombreN" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <label for="txtApellidoPatN">Apellido Paterno</label>
                                <input type="text" class="form-control" id="txtApellidoPatN" placeholder="Apellido Paterno">
                            </div>
                            <div class="form-group">
                                <label for="txtApellidoMatN">Apellido Materno</label>
                                <input type="text" class="form-control" id="txtApellidoMatN" placeholder="Apellido Materno">
                            </div>

                            <div class="form-group">
                                <label>Distrito</label>
                                <select class="custom-select">
                                    <option selected="">Selecciona Distrito</option>
                                    <option value="Primaria">SJL</option>
                                    <option value="Secundaria">SJM</option>
                                    <option value="Universitario">Los Olivos</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtTelefonoN">Teléfono</label>
                                <input type="text" class="form-control" id="txtTelefonoN" placeholder="Teléfono">
                            </div>
                            <div class="form-group">
                                <label for="txtDireccionN">Dirección</label>
                                <input type="text" class="form-control" id="txtDireccionN" placeholder="Dirección">
                            </div>
                            <div class="form-group">
                                <label for="txtFechaNacN">Fecha de Nacimiento</label>
                                <input type="text" class="form-control" id="txtFechaNacN" placeholder="Fecha de Nacimiento">
                            </div>
                            <div class="form-group">
                                <label for="txtFechaNacN">Fecha de Nacimiento</label>
                                <input type="text" class="form-control" id="txtFechaNacN" placeholder="Fecha de Nacimiento">
                            </div>
                            <div class="form-group">
                                <label for="txtIdUsuarioN">ID de Usuario</label>
                                <input type="text" class="form-control" id="txtIdUsuarioN" placeholder="ID de Usuario">
                            </div>


                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>


