﻿@model WA_Apprendo.Models.Cliente

@{
    ViewBag.Title = "MiPerfil";
}
<div class="all">

    @{ Html.RenderPartial("~/Views/Shared/MenuCliente.cshtml");}

    <div class="container">
        <div style="margin:1%">
            <h3 style="color: #350000">Datos personales</h3>
            <br>
            <form>
                <div class="form-group row">
                    <label for="name_edit" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="name_edit" value="Jorgito">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="mail_edit" class="col-sm-2 col-form-label">E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" readonly class="form-control" id="mail_edit" value="correoacutal@apprendo.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone_edit" class="col-sm-2 col-form-label">Teléfono</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="phone_edit" value="987654321">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="address_edit" class="col-sm-2 col-form-label">Dirección</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address_edit" value="Jr. Los Manzanos 585">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="distrito_edit" class="col-sm-2 col-form-label">Distrito</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="distrito_edit">
                            <option value="1">San Miguel</option>
                            <option value="2">San Isidro</option>
                        </select>
                    </div>

                </div>
                <small id="confirmaInfo" class="form-text text-muted">Confirma tu contraseña para guardar los cambios</small><br>
                <div class="form-group row">
                    <label for="confirma_pwd" class="col-sm-2 col-form-label">Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirma_pwd">
                        <br>
                        <button class="btn btn-warning">Guardar cambios</button>
                    </div>

                </div>
            </form>
        </div>
        <br><br>

    </div>

</div>





