﻿

    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <img class="logo" src="~/images/Apprendo.png" />
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <form method="Post" action="Login" class="form-login">
                    <h3>Identifícate</h3>
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input type="email" name="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar <i class="fas fa-door-open"></i></button>
                    <button type="button" id="btnRegistro" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                        Registrarse <i class="fas fa-address-card"></i>
                    </button>
                </form>

            </div>

        </div>

    </div>


    <div class="modal fade text-center" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="form-registro">
                        <h3>Registrate</h3>
                        <div class="form-group">
                            <label for="txtNombre">Nombres</label>
                            <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese su nombre">
                        </div>
                        <div class="form-group">
                            <label for="txtApellido">Apellidos</label>
                            <input type="text" class="form-control" id="txtApellido" placeholder="Ingrese sus apellidos">

                        </div>
                        <div class="form-group">
                            <label>Distrito</label>
                            <select class="custom-select">
                                <option selected="">Selecciona tu distrito</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">Nunca se compartira tu email.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </form>

                </div>

            </div>
        </div>
    </div>

