﻿

<div class="row text-center">
    <div class="col-md">
        <div class="">
            <div class="radioNivelGroup " role="group" aria-label="Basic example">
                <input type="radio" id="radioNivel1" name="rbnNivel" value="primaria" style="display:none;">
                <label for="radioNivel1" class="botonNivel" > Primaria</label>

                <input type="radio" id="radioNivel2" name="rbnNivel" value="secundaria" style="display:none">
                <label for="radioNivel2" class="botonNivel"> Secundaria</label>

                <input type="radio"  id="radioNivel3"  name="rbnNivel" value="Universitario" style="display:none">  
                <label for="radioNivel3" class="botonNivel" > Universitario</label>
            </div>
        </div>
    </div>
</div>

    <div class="row text-center" style="margin-top:10%">
        <div class="col-md-4 cursoDash">

            <input type="radio" name="rbnCurso" id="curso1" value="matematica">
            <label for="curso1"><i class="fa fa-superscript fa-3x"></i></label>
            <br>
            <a>Matemáticas</a>
        </div>
        <div class="col-md-4 cursoDash">

            <input type="radio" name="rbnCurso" id="curso2" value="lengua">
            <label for="curso2"> <i class="fa fa-book-open fa-3x"></i></label>
            <br>
            <a>Lengua y literatura</a>
        </div>

        <div class="col-md-4 cursoDash">

            <input type="radio" name="rbnCurso" id="curso3" value="quimica">
            <label for="curso3"> <i class="fa fa-atom fa-3x"></i></label>
            <br>
            <a>Química y biología</a>
        </div>

    </div>
    <br><br>
    <div class="row text-center ">

        <div class="col-md-4 cursoDash">

            <input type="radio" name="rbnCurso" id="curso4" value="historia">
            <label for="curso4"> <i class="fa fa-chess-rook fa-3x"></i></label>
            <br>
            <a>Historia</a>
        </div>
        <div class="col-md-4 cursoDash">

            <input type="radio" name="rbnCurso" id="curso5" value="geografia">
            <label for="curso5"> <i class="fa fa-globe-asia fa-3x"></i></label>
            <br>
            <a>Geografía</a>
        </div>
        <div class="col-md-4 cursoDash ">
            <input type="radio" name="rbnCurso" id="curso6" value="fisica">
            <label for="curso6"> <i class="fa fa-temperature-high fa-3x"></i></label>
            <br>
            <a>Agujeros negros y física</a>
        </div>
        
    </div>
    <div class="row text-center" style="margin-top:35px">
        <div class="col-md">
            <button id="idbtnSiguienteCurso" class="btn botonGrado  text-center">Siguiente</button>
        </div>
    </div>
