﻿
            <div class="row flex-md-wrap text-center">
                <div class=" col-md profesor">
                    <input type="radio" name="rbnProfesor" id="profesor1" value="a">
                    <label for="profesor1">
                        <img class="fotoProfesor" src="~/images/persona.jpg" />
                        <p><i class="fas fa-check"></i> Alfonso Díaz</p>
                        <a href="">Perfil</a>
                    </label>
                </div>
                <div class=" col-md profesor">
                    <input type="radio" name="rbnProfesor" id="profesor2" value="a">
                    <label for="profesor2">
                        <img class="fotoProfesor" src="~/images/persona.jpg" />
                        <p> <i class="fas fa-check"></i> Alfonso Díaz</p>
                        <a href="">Perfil</a>
                    </label>
                </div>
                <div class=" col-md profesor">
                    <input type="radio" name="rbnProfesor" id="profesor3" value="a">
                    <label for="profesor3">
                        <img class="fotoProfesor" src="~/images/persona.jpg" />
                        <p> <i class="fas fa-check"></i> Alfonso Díaz</p>
                        <a href="">Perfil</a>
                    </label>
                </div>
                <div class=" col-md profesor">
                    <input type="radio" name="rbnProfesor" id="profesor4" value="a">
                    <label for="profesor4">
                        <img class="fotoProfesor" src="~/images/persona.jpg" />
                        <p> <i class="fas fa-check"></i> Alfonso Díaz</p>
                        <a href="">Perfil</a>
                    </label>
                </div>
                <div class=" col-md profesor">
                    <input type="radio" name="rbnProfesor" id="profesor5" value="a">
                    <label for="profesor5">
                        <img class="fotoProfesor" src="~/images/persona.jpg" />
                        
                        <p> <i class="fas fa-check"></i> Alfonso Díaz</p>
                        <a href="">Perfil</a>
                    </label>
                </div>
                <div class=" col-md profesor">
                    <input type="radio" name="rbnProfesor" id="profesor6" value="a">
                    <label for="profesor6">
                        <img class="fotoProfesor" src="~/images/persona.jpg" />
                        <p> <i class="fas fa-check"></i> Alfonso Díaz</p>
                        <a href="">Perfil</a>
                    </label>
                </div>
                <br>


            </div>
            <br><br>
            <div class="row ">
                <div class="col-md text-center">
                    <button type="submit" id="idBtnSiguienteProfesor" class="btn botonGrado">Finalizar reserva</button>
                </div>

            </div>



