﻿
<div class="row ">
    <div class="col-md text-center">
        <div class="radioNivelGroup" role="group" aria-label="Basic example">
            <input type="radio" id="radioDia1" name="rbnDia" value="l" style="display:none">
            <label for="radioDia1" class="botonNivel"> Lunes</label>

            <input type="radio" id="radioDia2" name="rbnDia" value="m" style="display:none">
            <label for="radioDia2" class="botonNivel"> Martes</label>

            <input type="radio" id="radioDia3" name="rbnDia" value="x" style="display:none">
            <label for="radioDia3" class="botonNivel"> Miercoles</label>

            <input type="radio" id="radioDia4" name="rbnDia" value="j" style="display:none">
            <label for="radioDia4" class="botonNivel"> Jueves</label>

            <input type="radio" id="radioDia5" name="rbnDia" value="v" style="display:none">
            <label for="radioDia5" class="botonNivel"> Viernes</label>

            <input type="radio" id="radioDia6" name="rbnDia" value="s" style="display:none">
            <label for="radioDia6" class="botonNivel"> Sabado</label>

            <input type="radio" id="radioDia7" name="rbnDia" value="d" style="display:none">
            <label for="radioDia7" class="botonNivel"> Domingo</label>

        </div>
    </div>
</div>
<div class="row">
    <div class="form col-md text-center">
        <div class="turno">
            <input type="radio" name="rbnTurno" id="turno1" value="a">
            <label for="turno1"> <i class="fa fa-clock"></i>  4pm - 6pm</label>
        </div>

        <div class="turno">
            <input type="radio" name="rbnTurno" id="turno2" value="b">
            <label for="turno2"> <i class="fa fa-clock"></i>  6pm - 8pm</label>
        </div>

        <div class="turno">
            <input type="radio" name="rbnTurno" id="turno3" value="c">
            <label for="turno3"> <i class="fa fa-clock"></i>  8pm - 10pm</label>
        </div>
        

        <button  id="idBtnSiguienteTurno" class="btn botonGrado">Siguiente</button>
    </div>
</div>
