﻿
@{
    ViewBag.Title = "Dashboard";
}

<div class="all">

    @{Html.RenderPartial("~/Views/Shared/MenuAdministrador.cshtml"); }

    <div class="container">

        <div class="row text-center ">
            <div class="col-md-4 col-sm-4 ">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">50</h4>
                        <i class="fa fa-user-graduate fa-2x"></i>
                        <p class="card-text">Alumnos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4  ">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">40</h4>
                        <i class="fa fa-chalkboard-teacher fa-2x"></i>
                        <p class="card-text">Profesores</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4  ">
                <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">250</h4>
                        <i class="fa fa-home fa-2x"></i>
                        <p class="card-text">Clases dictadas</p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <br />
            <div class="col-md-6 text-center">
                <div class="canvasContainer">
                    <small>Clases por distritos recurrentes</small>
                    <canvas id="idDistritosRec" width="300" height="300"></canvas>
                    <script>
                        var ctx = document.getElementById('idDistritosRec');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['Miraflores', 'San Miguel', 'Los Olivos', 'San Isidro','SJL'],
                                datasets: [{
                                    label: 'Clases por distritos recurrentes',
                                    data: [50, 30, 10, 5,3],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(255, 159, 64, 1)'

                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(255, 159, 64, 1)'

                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            <br />
            <div class="col-md-6 text-center">
                <small>Alumnos por distritos recurrentes</small>
                <div class="canvasContainer">
                    <canvas id="idAlumnosDistrito" width="500" height="500"></canvas>
                    <script>
                        var ctx = document.getElementById('idAlumnosDistrito');
                        var myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: ['Miraflores', 'San Miguel', 'Los Olivos', 'San Isidro', 'Breña'],
                                datasets: [{
                                    label: 'Alumnos por distritos recurrentes',
                                    data: [30, 19, 3, 5, 2,],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">

            <div class="col-md-12 text-center">
                <small>Crecimiento mensual de usuarios</small>
                <div class="canvasContainer">
                    <canvas id="idCrecimientoMens" width="500" height="200"></canvas>
                    <script>
                        var ctx = document.getElementById('idCrecimientoMens');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Setiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                                datasets: [{
                                    label: 'Crecimiento mensual de Clientes',
                                    data: [5, 10, 5, 9, 3, 5, 10, 5, 9, 3, 12, 18],
                                    backgroundColor: [
                                        'rgba(255, 206, 86, 0.1)'


                                    ],
                                    borderColor: [
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',
                                        'rgba(103, 128, 159, 1)',


                                    ],
                                    borderWidth: 6,

                                },

                                {
                                    label: 'Crecimiento mensual de Profesores',
                                    data: [50, 52, 30, 15, 20, 5, 20, 51, 9, 35, 15, 30],
                                    backgroundColor: [
                                        'rgba(255, 206, 86, 0.1)'
                                    ],
                                    borderColor: [
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(54, 162, 235, 1)'

                                    ],
                                    borderWidth: 6,

                                }]


                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>

        </div>


    </div>

</div>
