﻿
@{
    ViewBag.Title = "ReportePago";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class=" all">

    @{Html.RenderPartial("~/Views/Shared/MenuAdministrador.cshtml"); }

    <div class="container">
        <div class="row" id="tablaProfesores">

            <div class="col-md-12">
                <h3>Finanzas</h3>
                <br />
                <div class="form-group" style="width:50%;">
                    <label for="datePick"> Escoger rango de fechas</label>
                    <input class="form-control" type="text" name="dates" value="" placeholder="Rango de fechas" id="datePick" />
                </div>
                <br /><br />
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap traduccionDataTables2">
                            <thead class="thead-dark">
                                <tr>

                                    <th scope="col">DETALLES</th>
                                    <th scope="col">ID PROFESOR</th>
                                    <th scope="col">NOMBRE</th>
                                    <th scope="col">APELLIDOS</th>
                                    <th scope="col">TOTAL</th>
                                    <th scope="col">PAGO</th>
                                    <th scope="col">GANANCIA</th>
                                    <th scope="col">ESTADO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td scope="row">
                                        <a href="#" class="idBtnIngresos"><i style="font-size:20px; color:green;" class="fa fa-search-dollar"></i></a>
                                        <a href="#" class="idBtnModalInfo"><i style="font-size:20px;color:darkorange;" class="fa fa-funnel-dollar"></i></a>
                                    </td>
                                    <th scope="row">02</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>

                                </tr>
                                <tr>

                                    <td scope="row">
                                        <a href="#" class="idBtnIngresos"><i style="font-size:20px; color:green;" class="fa fa-search-dollar"></i></a>
                                        <a href="#" class="idBtnModalInfo"><i style="font-size:20px;color:darkorange;" class="fa fa-funnel-dollar"></i></a>
                                    </td>
                                    <th scope="row">02</th>
                                    <td>hola</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>

                                </tr>
                                <tr>

                                    <td scope="row">
                                        <a href="#" class="idBtnIngresos"><i style="font-size:20px; color:green;" class="fa fa-search-dollar"></i></a>
                                        <a href="#" class="idBtnModalInfo"><i style="font-size:20px;color:darkorange;" class="fa fa-funnel-dollar"></i></a>
                                    </td>
                                    <th scope="row">02</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>

                                </tr>


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th> </th>
                                    <th></th>
                                    <th>SUM: 2500</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="tablaPagos" >
            <div class="col-md-12">
                <h3>Pagos Profesor Juan Gomez</h3>
                <br />
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap traduccionDataTables2 ">

                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID RESERVA</th>
                                <th scope="col">FECHA</th>
                                <th scope="col">CLIENTE</th>
                                <th scope="col">COSTO</th>
                                <th scope="col">PAGO</th>
                                <th scope="col">GANANCIA</th>
                                <th scope="col">ESTADO</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>

                                <td scope="row">01</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>


                            </tr>
                            <tr>
                                <td scope="row">02</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <td scope="row">02</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>


                            <tr>
                                <td scope="row">02</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>

                            <tr>
                                <td scope="row">02</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>


                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                                <th>SUM: 2500</th>
                                <th></th>

                            </tr>
                        </tfoot>
                    </table>
               </div>
                    <br />
                    @*<button type="submit" class="btn btn-primary">Aceptar</button>*@
                    <button type="button" class="btn btn-secondary" id="btnCerrarPagos">Cerrar</button>
                </div>
            </div>

        <div class="row tablaIngreso ">
            <div class="col-md-12">
                <h3>Ingresos Profesor Juan Gomez</h3>
                <br />
                <div class="table-responsive">
                    <table id="idTablaIngresos" class="table table-hover text-nowrap traduccionDataTables2 ">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID RESERVA</th>
                                <th scope="col">FECHA</th>
                                <th scope="col">TARIFA</th>
                                <th scope="col">COMISION</th>
                                <th scope="col">INGRESO</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>

                                <td scope="row">01</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>

                            </tr>
                            <tr>
                                <td scope="row">02</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>

                            </tr>
                            <tr>
                                <td scope="row">02</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>

                            </tr>
                            <tr>
                                <td scope="row">02</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>

                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>SUM: 2500</th>

                            </tr>
                        </tfoot>
                    </table>

                </div>
                @*<button type="submit" class="btn btn-primary">Aceptar</button>*@
                <button type="button" class="btn btn-secondary" id="btnCerrarIngreso">Cerrar</button>

            </div>

        </div>
            <br />
            <div class="row tablaIngreso text-center">
                <br />
                <div class="col-md-12 ">
                    <div class="canvasContainer" >
                        <small>Ingresos mensuales</small>
                        <canvas id="idIngresosMes" width="200" height="100"></canvas>
                        <script>
                            var ctx = document.getElementById('idIngresosMes');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',"Junio","Julio","Agosto","Setiembre","Octubre","Noviembre","Diciembre"],
                                    datasets: [{
                                        label: 'Ingresos mensuales ',
                                        data: [50, 30, 10, 5, 3, 50, 30, 10, 5, 3,30,150],
                                        backgroundColor: [
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)'

                                        ],
                                        borderColor: [
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)',
                                            'rgba(123, 239, 178, 1)'

                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
                <br />
                
            </div>



    </div>
</div>






<script>

    $(document).ready(function () {
        $("#tablaPagos").hide();
        $(".tablaIngreso").hide();
    });

    $(".idBtnModalInfo").click(function () {
        $("#tablaProfesores").hide();

        $("#tablaPagos").show();

    });

    $("#btnCerrarPagos").click(function () {
        $("#tablaPagos").hide();
        $("#tablaProfesores").show();
    });
   
    $(".idBtnIngresos").click(function () {
        $("#tablaProfesores").hide();
        $(".tablaIngreso").show();
    });
    $("#btnCerrarIngreso").click(function () {
        $(".tablaIngreso").hide();
        $("#tablaProfesores").show();
    });

    


    // DATE PICKER

    $(function () {

        $('input[name="dates"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
        });

        $('input[name="dates"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

    });

</script>

