﻿
<div class="all">

    @{ Html.RenderPartial("~/Views/Shared/MenuCliente.cshtml");}

    <div class="container">
        <div id="reserva1">
            @{ Html.RenderPartial("~/Views/Reserva/Partials/Curso.cshtml");}
        </div>
        <div id="reserva2">
            @{Html.RenderPartial("~/Views/Reserva/Partials/Turno.cshtml");}
        </div>
        <div id="reserva3">
            @{Html.RenderPartial("~/Views/Reserva/Partials/Profesor.cshtml");}
        </div>
    </div>

</div>




