﻿
@{
    ViewBag.Title = "ReservasProfesor";
}



    <div class="all">
       @{Html.RenderPartial("~/Views/Shared/MenuProfesor.cshtml"); }
        <div class="container">
            <div class="row text-center">
                <div class="col-md">
                    <div class="">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn botonGrado">Pendientes</button>
                            <button type="button" class="btn botonGrado">Realizadas</button>
                            <button type="button" class="btn botonGrado">Canceladas</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row text-center" style="margin-top:10%">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Ver</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Turno</th>
                            <th scope="col">Duración</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row"><a href="#" onclick="mostrarVentana()"><i class="fa fa-info-circle"></i></a></td>
                            <td>Sandra Vértiz</td>
                            <td>Jordi Valentino Pablo</td>
                            <td>29/05/19</td>
                            <td>4:00 p.m.</td>
                            <td>2h</td>
                            <td>Realizada</td>
                        </tr>
                        <tr>
                            <td scope="row"><a href="#" onclick="mostrarVentana()"><i class="fa fa-info-circle"></i></a></td>
                            <td>Sandra Vértiz</td>
                            <td>Jordi Valentino Pablo</td>
                            <td>29/05/19</td>
                            <td>4:00 p.m.</td>
                            <td>2h</td>
                            <td>Realizada</td>
                        </tr>
                        <tr>
                            <td scope="row"><a href="#" onclick="mostrarVentana()"><i class="fa fa-info-circle"></i></a></td>
                            <td>Sandra Vértiz</td>
                            <td>Jordi Valentino Pablo</td>
                            <td>29/05/19</td>
                            <td>4:00 p.m.</td>
                            <td>2h</td>
                            <td>Cancelada</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <br><br>

        </div>

    </div>

    <div class="modal fade" id="idModalRegistra">
        <div class="modal-dialog" style="width: 50%">

            <div class="modal-content">
                <div class="modal-header" style="padding: 5px 20px">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  
                </div>
                <div class="modal-body" style="padding: 20px 10px;">
                    <form id="idRegistra" accept-charset="UTF-8" action=""
                          class="form-horizontal" method="post"
                          data-toggle="validator" role="form" enctype="multipart/form-data">

                        <div class="panel-group " id="steps">

                            <div class="panel panel-default">
                                <div class="panel-heading" style="text-align: center;font-size: 14px">
                                    <h4 id="idMensaje">Detalle de Reserva</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="id_reg_nombre">Cliente</label>
                                        <div class="col-lg-5">
                                            <label class="col-lg-12 control-label" for="id_reg_nombre">Sandra Vértiz</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="id_reg_nombre">Alumno</label>
                                        <div class="col-lg-5">
                                            <label class="col-lg-12 control-label" for="id_reg_nombre">Jordi Valentino Pablo</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="id_reg_nombre">Direccion</label>
                                        <div class="col-lg-5">
                                            <label class="col-lg-12 control-label" for="id_reg_nombre">Av. Izaguirre 322</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="id_reg_nombre">Distrito</label>
                                        <div class="col-lg-5">
                                            <label class="col-lg-12 control-label" for="id_reg_nombre">Los Olivos</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="id_reg_nombre">Fecha Programada</label>
                                        <div class="col-lg-5">
                                            <label class="col-lg-12 control-label" for="id_reg_nombre">29/05/19</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="id_reg_nombre">Turno</label>
                                        <div class="col-lg-5">
                                            <label class="col-lg-12 control-label" for="id_reg_nombre">4:00 p.m.</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="id_reg_nombre">Fecha Reservada</label>
                                        <div class="col-lg-5">
                                            <label class="col-lg-12 control-label" for="id_reg_nombre">22/05/19</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label" for="id_reg_nombre">Estado</label>
                                        <div class="col-lg-5">
                                            <label class="col-lg-12 control-label" for="id_reg_nombre">Realizada</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer" style="padding: 5px 20px; text-align:center">
                                    <button type="submit" onclick="CancelarReserva()" class="btn btn-primary">Cancelar Reserva</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
    function mostrarVentana(){
        //$("#myModal").modal();
        $("#idModalRegistra").modal();
    }
    function CancelarReserva(){
        prompt("Introduzca el Motivo","");
    }
    $(document).ready(function(){

    });
    </script>

    <script src="js/main.js"></script>

