@import url('https://fonts.googleapis.com/css?family=Raleway');
.all{
    display: flex;
}
.matematica,.lengua,.quimica,.historia,.geografia,.fisica{
    /*background: rgb(47, 152, 212);
    color: white;
    border-radius: 120px;*/
    padding: 20px 0px;
    font-size: 1.3em;

    color: gray;
    border-radius: 5%;
    border-bottom: 1px solid rgb(172, 172, 172);
    
}

.cursoDash input {
    display: none;
}
  

.cursoDash input:checked + label {
    color: rgb(237,109,61);
}


    .cursoDash label:hover {
        color: black;
        cursor: pointer;
    }

.botonGrado{
    background: rgb(237,109,61) !important;
    color: white !important;
}

.botonGrado:focus {
    background: rgb(201, 93, 53)  !important;
}
.botonNivel {
    background-color: rgb(201, 93, 53);
    color: white;
    padding: 6px 10px;
    cursor:pointer;
}

    .radioNivelGroup input:checked + label {
        background-color: gray;
    }

  
.turno {
    font-size: 30px;
    margin-top: 2%;
    color: gray;
    border-bottom: 1px solid rgb(172, 172, 172);
}
.turno label{
    padding: 5% 10%;
    cursor:pointer;
}
.turno input{
  display: none;
}
.turno input:checked + label{
    color: rgb(237,109,61);
}
.profesor{
    padding: 10px 150px;
    margin: 10px 80px;
    /*background: rgb(237,109,61) ;*/
    color: gray;
    font-family: 'Raleway', sans-serif !important;
    border-radius: 5%;
    border-bottom: 1px solid rgb(172, 172, 172);
}
.profesor label{
    cursor:pointer;
}
.profesor p {
    font-family: 'Raleway', sans-serif !important;
}
.profesor a{
    text-decoration: underline;
    color: gray;
    
}
.profesor a:hover{
    text-decoration: none;
    color: gray;
}

.fotoProfesor{
    width: 120px;
    height: auto;
    border-radius: 100px;
}
.profesor input{
    display:none;
}
.profesor input:checked + label{
    color: rgb(237,109,61);
}
.contadoresDash {
    background-color: rgb(237,109,61);
}

.canvasContainer {
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border:1px 1px 1px solid gray;
}