@import url('https://fonts.googleapis.com/css?family=Raleway');

a,p,h1,h2,h3,h4{
   font-family: 'Raleway', sans-serif !important;
}

.menu{
    display: flex;
    justify-content: center;
    width: 60%;
   
    align-content: space-between;
  
}

.menu a{
    
    padding: 15px 0px;
    width: 200px;
    text-align: center;
    font-size: 18px;
}


.container{
    margin-top: 30px;
}
.logo{
    width: 200px;
    height: 65px;
}
.contenedorLogo{
    display: flex;
    justify-content: center;
    width: 40%;
}

.fila{
    margin-bottom: 60px;
}
.imagenCard{
    width: 100px;
    height: auto;
    margin: 25px 0px;
}
.profeCasa{
    width: 300px;
    height: auto;
}
.descripcion{
    padding: 45px 0 0 0;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.cajaPasos{
    box-shadow: 1px 1px 1px gray;
}
.cuerpoCaja{
    background-color: rgb(65,52,57);
    color: white;
}
.btnLogin{
    
    color: #ff6435 ;
    border-radius: 10px;
    text-decoration: none;
}
.btnLogin:hover{
    color: #ffa332; ;
    text-decoration: none;
}


.form-login{
    margin-top: 30px;
    
    padding: 10px;
    border-radius: 10px;
}

