﻿
@{
    ViewBag.Title = "ClasesProfesor";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="all">
    @{ Html.RenderPartial("~/Views/Shared/MenuProfesor.cshtml");}
    <div class="container">
        <h3>Mis Clases</h3>
        <div class="row text-center" style="margin-top:5%">
            <div class="col-md">
                <div class="">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn botonGrado">Libres</button>
                        <button type="button" class="btn botonGrado">Reservadas</button>
                        <button type="button" class="btn botonGrado">Canceladas</button>
                    </div>

                </div>
            </div>

            <div class="table-responsive" style="margin-top:5%">
                <table class="table table-hover text-nowrap traduccionDataTables2">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align:center"></th>
                            <th scope="col" style="text-align:center">Fecha Programada</th>
                            <th scope="col" style="text-align:center">Turno</th>
                            <th scope="col" style="text-align:center">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#idModalDetalle" id="idBtnDetalle"><i class="fa fa-info-circle"></i></a>
                                <a href="#" id="idBtnEliminar"><i style="font-size:20px" class="fas fa-trash-alt fa-1x"></i></a>
                            </td>
                            <td>29/05/19</td>
                            <td>Turno 1</td>
                            <td>Cancelada</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#idModalDetalle" id="idBtnDetalle"><i class="fa fa-info-circle"></i></a>
                                <a href="#" id="idBtnEliminar"><i style="font-size:20px" class="fas fa-trash-alt fa-1x"></i></a>
                            </td>
                            <td>29/05/19</td>
                            <td>Turno 1</td>
                            <td>Reservada</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#idModalDetalle" id="idBtnDetalle"><i class="fa fa-info-circle"></i></a>
                                <a href="#" id="idBtnEliminar"><i style="font-size:20px" class="fas fa-trash-alt fa-1x"></i></a>
                            </td>
                            <td>29/05/19</td>
                            <td>Turno 1</td>
                            <td>Libre</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <br><br>
        <button type="button" id="idBtnNuevo" data-toggle="modal" data-target="#idAgregarClase" class="btn btn-primary">Agregar Clase</button>





        <div class="modal fade text-center" id="idModalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-registro">
                            <h3>Detalle de Clase</h3>

                            <div class="form-group">
                                <label for="">Cliente</label>
                                <input type="text" class="form-control" id="txtCliente" placeholder="Cliente" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Alumno</label>
                                <input type="text" class="form-control" id="txtAlumno" placeholder="Alumno" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Direccion</label>
                                <input type="text" class="form-control" id="txtDireccion" placeholder="Direccion" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Distrito</label>
                                <input type="text" class="form-control" id="txtDistrito" placeholder="Distrito" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Fecha Programada</label>
                                <input type="text" class="form-control" id="txtFechaProgramada" placeholder="Fecha Programada" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Turno</label>
                                <input type="text" class="form-control" id="txtTurno" placeholder="Turno" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Fecha Reservada</label>
                                <input type="text" class="form-control" id="txtFechaReservada" placeholder="Fecha Reservada" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Estado</label>
                                <input type="text" class="form-control" id="txtEstado" placeholder="Estado" readonly>
                            </div>

                            <button onclick="CancelarClase()" type="button" class="btn btn-primary">Cancelar Clase</button>

                        </form>

                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade text-center" id="idAgregarClase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-registro">
                            <h3>Nueva Clase</h3>
                            <div class="form-group">
                                <label for="datePick">Fecha Programada</label>
                                <input class="form-control" type="text" name="dates" value="" placeholder="Ingrese Fecha" id="datePick" />
                            </div>
                            <div class="form-group">
                                <label>Turno</label>
                                <select class="custom-select">
                                    <option selected="">Selecciona Turno</option>
                                    <option value="">Turno 01</option>
                                    <option value="">Turno 02</option>
                                    <option value="">Turno 03</option>

                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function CancelarClase() {
        prompt("Introduzca el Motivo", "");
    }
    $(function () {

        $('input[name="dates"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agusto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            }
            });
    });
</script>

