﻿
@{
    ViewBag.Title = "GananciasProfesor";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class=" all">

    @{ Html.RenderPartial("~/Views/Shared/MenuProfesor.cshtml");}

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3>Mis Ingresos</h3>
                <br />
                <div class="form-group" style="width:50%;">
                    <label for="datePick"> Escoger rango de fechas</label>
                    <input class="form-control" type="text" name="dates" value="" placeholder="Rango de fechas" id="datePick" />
                </div>
                <br /><br />
            </div>
        </div>

        <div class="row" id="tablaPagos">
            <div class="col-md-12">

                <br />
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap traduccionDataTables2 ">

                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Ver</th>
                                <th scope="col">ID RESERVA</th>
                                <th scope="col">FECHA</th>
                                <th scope="col">CLIENTE</th>
                                <th scope="col">COSTO</th>
                                <th scope="col">PAGO</th>
                                <th scope="col">GANANCIA</th>
                                <th scope="col">ESTADO</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th scope="row"><a href="#" data-toggle="modal" data-target="#idModalDetalle" id="idBtnDetalle"><i class="fa fa-info-circle"></i></a></th>
                                <td>01</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>


                            </tr>
                            <tr>
                                <th scope="row"><a href="#" data-toggle="modal" data-target="#idModalDetalle" id="idBtnDetalle"><i class="fa fa-info-circle"></i></a></th>
                                <td>02</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row"><a href="#" data-toggle="modal" data-target="#idModalDetalle" id="idBtnDetalle"><i class="fa fa-info-circle"></i></a></th>
                                <td>03</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>


                            <tr>
                                <th scope="row"><a href="#" data-toggle="modal" data-target="#idModalDetalle" id="idBtnDetalle"><i class="fa fa-info-circle"></i></a></th>
                                <td>04</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                                <th>SUM: 2500</th>
                                <th></th>

                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
        <br />
        <div class="row tablaIngreso text-center">
            <br />
            <div class="col-md-12 ">
                <div class="canvasContainer">
                    <small>Ingresos Mensuales</small>
                    <canvas id="idIngresos" width="200" height="100"></canvas>
                    <script>
                        var ctx = document.getElementById('idIngresos');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', "Junio", "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre"],
                                datasets: [{
                                    label: 'Ingresos mensuales ',
                                    data: [50, 30, 10, 5, 3, 50, 30, 10, 5, 3, 30, 150],
                                    backgroundColor: [
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)'

                                    ],
                                    borderColor: [
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)',
                                        'rgba(123, 239, 178, 1)'

                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            <br />

        </div>

        <div class="modal fade text-center" id="idModalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-registro">
                            <h3>Detalle</h3>
                            <div class="form-group">
                                <label for="">ID</label>
                                <input type="text" class="form-control" id="txtID" placeholder="ID" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Cliente</label>
                                <input type="text" class="form-control" id="txtCliente" placeholder="Cliente" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Alumno</label>
                                <input type="text" class="form-control" id="txtAlumno" placeholder="Alumno" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Direccion</label>
                                <input type="text" class="form-control" id="txtDireccion" placeholder="Direccion" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Distrito</label>
                                <input type="text" class="form-control" id="txtDistrito" placeholder="Distrito" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Fecha Programada</label>
                                <input type="text" class="form-control" id="txtFechaProgramada" placeholder="Fecha Programada" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Turno</label>
                                <input type="text" class="form-control" id="txtTurno" placeholder="Turno" readonly>
                            </div>
                            <div class="form-group">
                                <label for="">Fecha Reservada</label>
                                <input type="text" class="form-control" id="txtFechaReservada" placeholder="Fecha Reservada" readonly>
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>       

    </div>
</div>

<script>
    // DATE PICKER

    $(function () {

        $('input[name="dates"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
        });

        $('input[name="dates"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

    });

</script>

