﻿
@{
    ViewBag.Title = "MiPerfil";
}

<div class="all">

    @{ Html.RenderPartial("~/Views/Shared/MenuProfesor.cshtml");}

    <div class="container">
        <div style="margin:1%">
            <h2 style="color: #350000">Perfil del profesor</h2><br>
            <form>
                <h3 style="color: #FF7213">Datos personales</h3><br>
                <div class="form-group row">
                    <label for="name_edit" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="name_edit" value="Lynda Ramos Sáenz">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name_edit" class="col-sm-2 col-form-label">DNI</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="name_edit" value="12345678">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="mail_edit" class="col-sm-2 col-form-label">E-mail</label>
                    <div class="col-sm-10">
                        <input type="email" readonly class="form-control" id="mail_edit" value="correoacutal@apprendo.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone_edit" class="col-sm-2 col-form-label">Teléfono</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="phone_edit" value="987654321">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="address_edit" class="col-sm-2 col-form-label">Dirección</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address_edit" value="Jr. Los Manzanos 585">
                    </div>
                </div>
                <h3 style="color: #FF7213">Tarifa y cobertura</h3><br>

                <small id="tarifaInfo" class="form-text text-muted">¡Tú decides la tarifa y cuánto ganar!</small><br>
                <div class="form-group row">
                    <label for="tarifaAprendo" class="col-sm-2 col-form-label">Tarifa Apprendo</label>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" style="margin: auto">S/.</span>
                            <input class="form-control" style="margin-left: 10px; text-align: right" type="number" value="30.00" min="0" step="5.0" data-number-to-fixed="2" data-number-stepfactor="100" id="tarifaAprendo" />
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <label for="comisionApprendo" class="col-sm-2 col-form-label">Comisión</label>
                    <div class="col-sm-2">
                        <input type="text" readonly class="form-control" id="comisionApprendo" style="margin-left: 30px; text-align: right" value="20%">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="comisionApprendo" class="col-sm-2 col-form-label">
                        <h7><button style="margin-top: -6px" for="tarifaProfe" class="btn btn-warning">Tarifa</button></h7>
                    </label>

                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon" style="margin: auto">S/.</span>
                            <input class="form-control" style="margin-left: 10px; text-align: right" type="number" readonly id="tarifaProfe" value="24.00" />
                        </div>
                    </div>
                </div>

                <small id="distritoInfo" class="form-text text-muted">Puedes agregar hasta 03 distritos de cobertura</small><br>
                <div class="form-group row">
                    <label for="distrito01_edit" class="col-sm-2 col-form-label">Distrito 01</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="distrito01_edit">
                            <option value="1">San Miguel</option>
                            <option value="2">San Isidro</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="distrito02_edit" class="col-sm-2 col-form-label">Distrito 02</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="distrito02_edit">
                            <option value="1">San Miguel</option>
                            <option value="2">San Isidro</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="distrito03_edit" class="col-sm-2 col-form-label">Distrito 03</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="distrito03_edit">
                            <option value="1">San Miguel</option>
                            <option value="2">San Isidro</option>
                        </select>
                    </div>
                </div>
                <small id="confirmaInfo" class="form-text text-muted">Confirma tu contraseña para guardar los cambios</small><br>
                <div class="form-group row">
                    <label for="confirma_pwd" class="col-sm-2 col-form-label">Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirma_pwd">
                        <br>
                        <button class="btn btn-warning">Guardar cambios</button>
                    </div>

                </div>
            </form>
        </div>
        <br><br>

    </div>

</div>


