﻿
@{
    ViewBag.Title = "ReservaProfesor";
}

<div class="all">
    @{ Html.RenderPartial("~/Views/Shared/MenuProfesor.cshtml");}
    <div class="container">
        <h3>Mis Reservas</h3>
        <div class="row text-center" style="margin-top:5%">
            <div class="col-md">
                <div class="">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn botonGrado">Pendientes</button>
                        <button type="button" class="btn botonGrado">Realizadas</button>
                        <button type="button" class="btn botonGrado">Canceladas</button>
                    </div>

                </div>
            </div>

            <div class="table-responsive" style="margin-top:5%">
                <table class="table table-hover text-nowrap traduccionDataTables2">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Ver</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Turno</th>
                            <th scope="col">Duración</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><a href="#" data-toggle="modal" data-target="#idModalDetalle" id="idBtnDetalle"><i class="fa fa-info-circle"></i></a></th>
                            <td>Sandra Vértiz</td>
                            <td>Jordi Valentino Pablo</td>
                            <td>29/05/19</td>
                            <td>4:00 p.m.</td>
                            <td>2h</td>
                            <td>Realizada</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#" data-toggle="modal" data-target="#idModalDetalle" id="idBtnDetalle"><i class="fa fa-info-circle"></i></a></th>
                            <td>Sandra Vértiz</td>
                            <td>Jordi Valentino Pablo</td>
                            <td>29/05/19</td>
                            <td>4:00 p.m.</td>
                            <td>2h</td>
                            <td>Realizada</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#" data-toggle="modal" data-target="#idModalDetalle" id="idBtnDetalle"><i class="fa fa-info-circle"></i></a></th>
                            <td>Sandra Vértiz</td>
                            <td>Jordi Valentino Pablo</td>
                            <td>29/05/19</td>
                            <td>4:00 p.m.</td>
                            <td>2h</td>
                            <td>Cancelada</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <br><br>



            <div class="modal fade text-center" id="idModalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" class="form-registro">
                                <h3>Detalle de Reserva</h3>

                                <div class="form-group">
                                    <label for="">Cliente</label>
                                    <input type="text" class="form-control" id="txtCliente" placeholder="Cliente" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Alumno</label>
                                    <input type="text" class="form-control" id="txtAlumno" placeholder="Alumno" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Direccion</label>
                                    <input type="text" class="form-control" id="txtDireccion" placeholder="Direccion" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Distrito</label>
                                    <input type="text" class="form-control" id="txtDistrito" placeholder="Distrito" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Fecha Programada</label>
                                    <input type="text" class="form-control" id="txtFechaProgramada" placeholder="Fecha Programada" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Turno</label>
                                    <input type="text" class="form-control" id="txtTurno" placeholder="Turno" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Fecha Reservada</label>
                                    <input type="text" class="form-control" id="txtFechaReservada" placeholder="Fecha Reservada" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Estado</label>
                                    <input type="text" class="form-control" id="txtEstado" placeholder="Estado" readonly>
                                </div>

                                <button onclick="CancelarReserva()" type="button" class="btn btn-primary">Cancelar Reserva</button>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>
<script>
    function CancelarReserva() {
        prompt("Introduzca el Motivo", "");
    }
</script>


