﻿

<div class="bg-light border-right " id="sidebar-wrapper">
    <div class="sidebar-heading "><img class="apprendo" src="~/images/Apprendo.png" /> </div>
    <div class="list-group list-group-flush">
        <a href="@Url.Action("Dashboard", "Administrador")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-calendar-day"></i> Dashboard</a>
        <a href="@Url.Action("Finanzas","Administrador")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-dollar-sign"></i>  Finanzas</a>
        <a href="@Url.Action("Mantenimiento", "Curso")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-book"></i> Cursos</a>
        <a href="@Url.Action("Mantenimiento", "Cliente")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-users"></i> Clientes</a>
        <a href="@Url.Action("Mantenimiento", "Profesor")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-chalkboard-teacher"></i> Profesores</a>

        <br>
        <br>

        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-sign-out-alt"></i> Cerrar sesión</a>
        <br>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>