﻿<div class="bg-light border-right " id="sidebar-wrapper">
    <div class="sidebar-heading "><img class="apprendo" src="~/images/Apprendo.png" /> </div>
    <div class="list-group list-group-flush">
        <a href="@Url.Action("ClasesProfesor", "Profesor")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-calendar-day"></i> Mis clases</a>
        <a href="@Url.Action("ReservaProfesor", "Profesor")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-calendar-day"></i> Mis reservas</a>
        <a href="@Url.Action("GananciasProfesor", "Profesor")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-calendar-day"></i> Mis ingresos</a>
        <a href="@Url.Action("MiPerfil", "Profesor")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-address-card"></i> Mi perfil</a>
        <br>
        <br>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-sign-out-alt"></i> Cerrar sesión</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-key"></i> Cambiar contraseña</a>
        <br>
    </div>
</div>
