﻿
<div class="bg-light border-right " id="sidebar-wrapper">
    <div class="sidebar-heading "><img class="apprendo" src="~/images/Apprendo.png" /> </div>
    <div class="list-group list-group-flush">
        <a href='@Url.Action("Index", "Reserva")' class="list-group-item list-group-item-action bg-light"><i class="fa fa-calendar-day"></i> Reservar clase</a>

        <a href="@Url.Action("AdministrarAlumnos","Alumno")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-child"></i> Administrar alummnos</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-chalkboard"></i> Mis clases reservadas</a>
        <a href="@Url.Action("MiPerfil", "Cliente")" class="list-group-item list-group-item-action bg-light"><i class="fa fa-address-card"></i> Mi Perfil</a>
        <br>
        <br>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-sign-out-alt"></i> Cerrar sesión</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-key"></i> Cambiar contraseña</a>
        <br>
    </div>
</div>