﻿
@{
    ViewBag.Title = "AdministrarAlumnos";
}

<div class="all">

    @{ Html.RenderPartial("~/Views/Shared/MenuCliente.cshtml");}

    <div class="container">

        <div>
            <div class="row">
                <div class="col-md">
                    <h3>Alumnos</h3>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-hover text-nowrap ">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">ID</th>
                                    <th scope="col">SEXO</th>
                                    <th scope="col">NOMBRE</th>
                                    <th scope="col">APE PAT</th>
                                    <th scope="col">APE MAT</th>
                                    <th scope="col">COLEGIO</th>
                                    <th scope="col">GRADO</th>



                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>

                                        <a href="#" data-toggle="modal" data-target="#modalActualizar" id="idBtnActualizar"><i style="font-size:20px" class="fa fa-edit"></i></a>
                                        <a href="#" id="idBtnEliminar"><i style="font-size:20px" class="fas fa-trash-alt fa-1x"></i></a>
                                    </td>
                                    <th scope="row">01</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>



                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#modalActualizar" id="idBtnActualizar"><i style="font-size:20px" class="fa fa-edit"></i></a>
                                        <a href="#" id="idBtnEliminar"><i style="font-size:20px" class="fas fa-trash-alt fa-1x"></i></a>
                                    </td>
                                    <th scope="row">02</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>



                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <button type="button" id="idBtnNuevo" data-toggle="modal" data-target="#modalNuevo" class="btn btn-primary">Agregar Alumno</button>

        </div>

    </div>

   


    <div class="modal fade text-center" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="form-registro">
                        <h3>Actualizar</h3>
                        <div class="form-group">
                            <label for="txtId">ID</label>
                            <input type="text" class="form-control" id="txtId" placeholder="ID" disabled>
                        </div>
                        <div class="form-group">
                            <label for="txtNombre">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label>Sexo</label>
                            <select class="custom-select">
                                <option selected="">Selecciona Sexo</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>


                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txtApellidoPat">Apellido Paterno</label>
                            <input type="text" class="form-control" id="txtApellidoPat" placeholder="Apellido Paterno">
                        </div>
                        <div class="form-group">
                            <label for="txtApellidoMat">Apellido Materno</label>
                            <input type="text" class="form-control" id="txtApellidoMat" placeholder="Apellido Materno">
                        </div>
                        <div class="form-group">
                            <label for="txtColegio">Colegio </label>
                            <input type="text" class="form-control" id="txtColegio" placeholder="Colegio">
                        </div>
                        <div class="form-group">
                            <label for="txtGrado">Grado</label>
                            <input type="text" class="form-control" id="txtGrado" placeholder="Grado">
                        </div>
                        

                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade text-center" id="modalNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="form-registro">
                        <h3>Nuevo Alumno</h3>
                        <div class="form-group">
                            <label for="txtIdN">ID</label>
                            <input type="text" class="form-control" id="txtIdN" placeholder="ID" disabled>
                        </div>
                        <div class="form-group">
                            <label for="txtNombreN">Nombre</label>
                            <input type="text" class="form-control" id="txtNombreN" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <label>Sexo</label>
                            <select class="custom-select">
                                <option selected="">Selecciona Sexo</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txtApellidoPatN">Apellido Paterno</label>
                            <input type="text" class="form-control" id="txtApellidoPatN" placeholder="Apellido Paterno">
                        </div>
                        <div class="form-group">
                            <label for="txtApellidoMatN">Apellido Materno</label>
                            <input type="text" class="form-control" id="txtApellidoMatN" placeholder="Apellido Materno">
                        </div>
                        <div class="form-group">
                            <label for="txtColegioN">Colegio </label>
                            <input type="text" class="form-control" id="txtColegioN" placeholder="Colegio">
                        </div>
                        <div class="form-group">
                            <label for="txtGradoN">Grado</label>
                            <input type="text" class="form-control" id="txtGradoN" placeholder="Grado">
                        </div>




                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </form>

                </div>

            </div>
        </div>
    </div>


</div>

